# Application URLs
UI_BASE_URL=http://ui-application-url
API_BASE_URL=http://api-application-url/api

# Slack Integration
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/WEBHOOK/URL

# Allure Configuration
ALLURE_REPORT_URL=https://your-user.github.io/your-repo